h2 {
    font-size: var(--font-L);
    color: var(--color-primary);
    position: relative;
    text-align: left;
    z-index: 10;
    margin: 0;
    line-height: 1.4;
}
@media (max-width: 768px) {
    h2 {
        font-size: var(--font-L);
        text-align: left;
    }
}
