.star-svg {
    width: 30px;
    height: 30;
    fill: none;
}

.star-svg path {
    fill: var(--background-star);
}

.star-svg.checked path {
    fill: var(--color-primary);
}

@media screen and (max-width: 768px) {
    .star-svg {
        width: 15px;
        height: 15px;
    }
}
