.hero {
    max-width: 100%;
    padding: 1.6rem;
    height: 223px;
    background-image: url('../../assets/hero.jpg');
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero.about {
    background-image: url('../../assets/about.jpg');
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--overlay-banner);
    border-radius: 10px;
    z-index: 1;
}

@media (max-width: 768px) {
    .hero {
        justify-content: flex-start;
        height: 111px;
    }
}
