.gallery-element {
    position: relative;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template: 1fr 20px / 1fr;
}
.gallery-element::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlay-card);
    z-index: 1;
}

.gallery-element h2 {
    line-height: 1.4;
    max-width: 11ch;
    margin: 0;
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 20px;
    display: flex;
    text-align: left;
    z-index: 2;
}

.gallery-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    grid-area: 1 / 1 / 3 / 2;
}

.gallery-element a {
    text-decoration: none;
    margin-top: auto;
}

.gallery-element a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media (max-width: 768px) {
    .gallery-element {
        height: 255px;
    }
}
